.card {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.card__image {
  @media screen and (min-width: $tablet) {
    margin-right: 55px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 95px;
  }
}

.card__wrapper {
  margin-top: 55px;

  @media screen and (min-width: $tablet) {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 380px;
  }
}

.card__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;

  color: getColor("main-text");
  margin-bottom: 24px;

  @media screen and (min-width: $tablet) {
    font-size: 42px;
  }
}

.card__description {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: getColor("main-text");

  margin-bottom: 32px;
}
