.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: getColor("backdrop-bg");

  opacity: 1;
  transition: opacity 250ms linear;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;

  width: 300px;
  padding: 16px 25px;

  background-color: getColor("main-bg");

  transform: translate(-50%, -50%);
  overflow-y: auto;

  @media screen and (min-width: $tablet) {
    width: 640px;
    padding: 36px 45px;
  }

  @media screen and (min-width: $desktop) {
    width: 920px;
    padding: 56px 95px;
  }
}

.modal__button {
  position: absolute;
  top: 20px;
  right: 10px;

  background-color: transparent;
  border: none;

  cursor: pointer;

  @media screen and (min-width: $tablet) {
    right: 20px;
  }

  @media screen and (min-width: $desktop) {
    top: 40px;
    right: 40px;
  }
}

.modal__icon {
  width: 24px;
  height: 24px;
  stroke: getColor("main-text");
}
